@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

.swiper-pagination-bullet-active{
    background : var(--green)

}
:root{
    --green : #0eb582;
    --light-green : #f0fdfa;
    --light-color : #777;
    --light-white : #eee;
    --black : #444;
    --white : #fff;
    --border : .1rem solid var(--green);
    --box-shadow : 0 .5rem 1rem rgba(0,0,0,.3)
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    border: none;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: var(--green);
}
.btn{
    padding: 1rem 2rem;
    background: #fff;
    color: var(--green);
    border: var(--border);
    font-size: 2rem;
    border-radius: .5rem;
    background: var(--light-green);
    cursor: pointer;
}
.btn:hover{
    background: var(--green);
    color: white;
}

section{
    min-height: 100vh;
    width: 100%;
    padding: 2rem 9%;
}
.heading{
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0;
}

/*header style start*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    z-index: 1000;
}
.header .logo{
    color: var(--black);
    font-size: 3rem;
}

.header .logo i{
    color: var(--green);
}
.header .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .navbar a{
    font-size: 2rem;
    color: var(--black);
    padding-right: 2rem;
}
.header .navbar a:hover{
    color: var(--green);
}
.header .icons #account-btn{
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;

}
.header .icons #account-btn:hover{
    color: var(--green);
}
.header .icons #menu-btn{
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;
    display: none;

}
.header .icons #menu-btn:hover{
    color: var(--green);
}
/*header style end*/
/*Account style start*/

.account-form{
    padding: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    background: #fff;
    height: 100%;
    width: 35rem;
    border: var(--border);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.account-form.popup{
    right: -105%;
}
.account-form .buttons .btn.active{
    background: var(--green);
    color: #fff;
}
.account-form #close-form{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: var(--black);
}
.account-form #close-form:hover{
    color: var(--green);
}
.account-form form{
    display: none;
}
.account-form form.active{
    display: block;
}

.account-form .login-form{
    border: var(--border);
    padding: 2rem;
    box-shadow: var(--box-shadow);
}

.account-form .login-form h3{
    font-size: 3rem;

}
.account-form .login-form .box{
    padding: 1.5rem;
    border: var(--border);
    width: 100%;
    margin: 2rem 0;
}
.account-form .login-form .flex{
    display: flex;
    
    align-items: center;
    font-size: 1.2rem;
}
.account-form .login-form .flex a{
    margin-left: auto;
}
.account-form .login-form .submit-btn{
    width: 100%;

    margin-top: 2rem;
}
.account-form .register-form{
    border: var(--border);
    padding: 2rem;
    box-shadow: var(--box-shadow);
}

.account-form .register-form h3{
    font-size: 3rem;

}
.account-form .register-form .box{
    padding: 1.5rem;
    border: var(--border);
    width: 100%;
    margin: 2rem 0;
}

.account-form .register-form .submit-btn{
    width: 100%;

    margin-top: 2rem;
}

/*Account style end*/
/*home-slider style start*/
.home{
    padding: 0;

}
.home .slide{
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position : center !important;
    height: 60rem;
}
.home .slide .content{
    width: 60rem;
}
.home .slide .content h3{
    font-size: 6rem;
    color: #fff;
}
.home .slide .content p{
    color: #fff;
    font-size: 1.5rem;
    padding: 3rem 0;
}

/*home-slider style end*/
/****************************home-subject style start************************/
.subject{
    min-height: 45vh;
}
.subject .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap:2rem;
    text-align: center;

}
.subject .box-container .box{
    border: var(--border);
    background: var(--light-green);
    padding: 2rem;
}
.subject .box-container .box:hover{
    background: var(--green);
    cursor: pointer;
}
.subject .box-container .box h3{
    font-size: 2rem;
    padding: 2rem 0;
}
.subject .box-container .box p{
    font-size: 1.5rem;
}

/****************************home-subject style end****************************/
/****************************home-course style start****************************/
.course{
    min-height: 45vh;
}
.course .slide{
    text-align: center;
    position: relative;
    width: 30rem;
    overflow : hidden;
}
.course .slide .image{
    padding: 2rem;
}
.course .slide .image img{
    width: 100%;
    margin-bottom: 1.5rem;
}
.course .slide .image h3{
    font-size: 2rem;
}
.course .slide .content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--green);
    padding: 2rem;
    bottom: -100%;
}
.course .slide .content h3{
    font-size: 2rem;
}
.course .slide .content p{
    font-size: 1.5rem;
    padding: 2rem 0;
}
.course .slide:hover .content{
    bottom: 0;
}
/****************************home-course style end****************************/
/****************************about header-link style start********************/
.heading-link{
   padding-top: 10rem;
    min-height: 30vh;
    background: url('images/heading-bg.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.heading-link h3{
    font-size: 3.5rem;
    
}
.heading-link p{
    font-size: 2rem;
}
.heading-link p a{
    color: var(--green);
}
/****************************about header-link style end********************/
/****************************about  style start********************/
.about{
    min-height: 45vh;
}
.about .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.about .box-container .image{
    flex: 1 1 40rem;
    
}
.about .box-container .content{
    flex: 1 1 40rem;


}
.about .box-container .image img{
    width: 100%;
}
.about .box-container .content h3{
    font-size: 3rem;
}
.about .box-container .content p{
    font-size: 1.5rem;
    padding: 3rem 0;

}
.about .box-container .content .card-container{
    display: flex;
    gap:2rem;
  
}
.about .box-container .content .card-container .card{
    flex: 1 1 16rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
}
/****************************about style end********************/
/****************************teacher style start********************/
.teacher{
    min-height: 40vh;
}

.teacher .box-container .box{
    width: 30rem;
    
    
} 
.teacher .box-container .box .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.teacher .box-container .box .content h3{
    font-size: 2rem;
}
.teacher .box-container .box .content p{
    font-size: 1.5rem;
}
.teacher .box-container .box .image{
    background: var(--light-green);
    position: relative;
    overflow : hidden;
}
.teacher .box-container .box .image img{
    width: 100%;
    
}
.teacher .box-container .box .image .icons-container{
    text-align: center;
    padding: 2rem 0;
    background: var(--black);
    position: absolute;
    bottom: -100%;
    right: 0;
    left: 0;
}
.teacher .box-container .box .image:hover .icons-container{
    bottom: 0;
}
.teacher .box-container .box .image .icons-container i{
    font-size: 3rem;
    padding-right: 2rem;
    color: white;
    
}
/****************************teacher style end********************/
/****************************student style start********************/
.student{
    min-height: 45vh;
}
.student .box-container .box{
    width: 35rem;
    text-align: center;
}
.student .box-container .box p{
    padding: 2rem 3rem;
    border: var(--border);
    font-size: 1.5rem;
    background: var(--light-green);
    
}
.student .box-container .box img{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    margin: 2rem 0;
}
.student .box-container .box h3{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.student .box-container .box .icons i{
    font-size: 1.5rem;
    color: var(--green);
}
/****************************student style end********************/
/****************************course style start********************/
.course .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    gap:2rem;
}
.course .box-container .box{
    border: var(--border);
    padding-bottom: 2rem;
}

.course .box-container .box .wrapper{
    padding: 0 3rem;
    
}

.course .box-container .box{
    flex: 1 1 40rem
}
.course .box-container .box.hide{
    display: none;
}
.course .box-container .box .image{
    position: relative;
    height: 30rem;
    overflow : hidden;
}
.course .box-container .box .image img{
    width: 100%;
    height: 100%;

}
.course .box-container .box:hover .image img{
    transform: scale(1.1)

}
.course .box-container .box .image h3{
    font-size: 2rem;
    background: white;
    position: absolute;
    top: 2rem;
    left: 2rem;
    padding: 1rem 2rem;
}
.course .box-container .box .content{
    text-align: center;
    padding: 2rem;
    border-bottom: var(--border);
}
.course .box-container .box .content .stars i{
    font-size: 2rem;
    color: var(--green);
}
.course .box-container .box .content h3{
    font-size: 2.5rem;

}
.course .box-container .box .content p{
    font-size: 1.5rem;
    padding: 2rem 0;
}
.course .box-container .box .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 1.5rem;
}
.course .box-container .box .icons a i{
    color: var(--green);
}
.course .load-more{
    margin-top: 3rem;
    text-align: center;
}
/****************************course style end********************/
/****************************contact style start********************/
.contact .icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:2rem;
}
.contact .icons-container .icon{
    text-align: center;
    padding: 2rem;
    background: var(--light-green);
    border: var(--border);
}
.contact .icons-container .icon i{
    font-size: 2rem;
    color: white;
    background: var(--green);
    padding: 2.5rem;
    border-radius: 50%;

}
.contact .icons-container .icon h3{
    font-size: 2rem;
    padding: 2rem 0;
}
.contact .icons-container .icon p{
    font-size: 1.5rem;
}

.contact .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 4rem;
}
.contact .box-container .image{
    flex : 1 1 40rem;
}
.contact .box-container .image img{
    width: 100%;
}
.contact .box-container form{
    flex: 1 1 40rem;

    border: var(--border);
    padding: 2rem;
    text-align: center;
    
}
.contact .box-container form h3{
    font-size: 3rem;
}
.contact .box-container form .box{
    border: var(--border);
    padding: 1.5rem 2rem;
    display: block;
    width: 100%;
    margin: 2rem 0;
}
.contact .box-container form .box:focus{
    background: var(--green);
}
.contact .box-container form .btn{
    

}
/****************************contact style end********************/
/*****************************Footer style start************************/
.footer{
   
    min-height: 40vh;
    background: var(--light-green);
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap:2rem;
    border-bottom: .2rem solid var(--green);
    padding-bottom: 3rem;

}
.footer .box-container .box{
    
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column;
    gap: 3rem;
}
.footer .box-container .box h3{
    font-size: 2rem;
}
.footer .box-container .box a{
    color: var(--light-color);
    font-size: 1.5rem;
}
.footer .box-container .box a:hover{
    color: var(--green);
}
.footer .box-container .box p{
    font-size: 1.5rem;
}
.footer .box-container .box .logo{
    font-size: 2rem;
}

.footer .box-container .box .logo i{
    color: var(--green);
}
.footer .box-container .box .icons a{
    font-size: 2rem;
    color: white;
    background: var(--green);
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    margin-right: 0.5rem;


}
.footer .box-container .box .icons a:hover{
    background: var(--light-color);
}

.footer .box-container .box input{
    padding: 1.5rem 3rem;
    border: var(--border);
    width: 100%;
    background: white;
}
.footer .credit{
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}
.footer .credit span{
    color: var(--green);
}
/*****************************Footer style end*************************/



@media (max-width:768px) {
    html{
        font-size: 55%;
    }

    .header .wrapper .navbar{
        position: fixed;
        top: 8.2rem;
        right: -105%;
        width: 30rem;
        height: 100%;
        text-align: center;
        border: var(--border);
        background: white;
        box-shadow: var(--box-shadow);
        

    }
    .header .wrapper .navbar a{
        display: block;
        padding: 2rem 0;
        font-size: 3rem;
        
    }
    .header .wrapper .navbar a:hover{
        background: green;
        ;
    }
    .header .wrapper .icons #account-btn{
        padding-right: 2rem;
    }
    .header .wrapper .icons #menu-btn{
        display: inline-block;
       
        
    }
    
    .fa-times{
        transform: rotate(90deg);
    }
    .header .navbar.popup{
        right: 0;
    }
}